<!DOCTYPE html>
<html>
  <head>
    <title>My Angularjs Tutorial</title>
    <link href="../../bootstrap/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/angular.min.js"></script>
    <script src="js/angular-ui-router.js"></script>
    <script src="js/app.js"></script>
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  </head>
  <body ng-app="flapperNews" ng-controller="MainCtrl">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <h1>Flapper News</h1>
            </div>
            <div ng-repeat="post in post2 | orderBy:'-upvotes'">
                <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
                {{post.upvotes}}
                <span style="font-size:20px;margin-left:10px;">
                  <a ng-show="post.link" target="__blank" href="{{post.link}}">{{post.title}}</a>
                  <span ng-hide="post.link">{{post.title}}</span>
                </span>
            </div>
            <form ng-submit="addPost2()" style="margin-top:30px;">
              <h3>Add a new post</h3>
              <div class="form-group">
                <input type="text" placeholder="Title" ng-model="title" name="title"/>
              </div>
              <div class="form-group">
                <input type="text" placeholder="Link" ng-model="link" name="link"/>
              </div>
              <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>
    </div>
  </body>
</html>
